<%- include('./partials/header') %>
  <div class="container-list">
    <div class="h1-wrapper">
      <h1 class="h1-title">BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
    </div>
    <div class="search">
      <div class="show-data">
        <div class="input-group mb-1">
          <span class="input-group-text">Show</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text"></span>
        </div>

      </div>
      <div class="search-input">
        <input class="input-search" type="text">
        <div class="button-search">
          <button type="button" class="btn btn-outline-secondary">><i class="fa-solid fa-magnifying-glass"
              style="color: #77767b;"></i></button>
          <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-rotate"
              style="color: #f6d32d;"></i></button>
        </div>
      </div>
    </div>
    <div class="container-form">
      <!-- ini table -->
      <div class="table-list">
        <table>
          <thead>
            <tr>
              <th class="id">No.</th>

              <th class="title">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Name
                </div>
              </th>

              <th class="deadline">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Phone
                </div>
              </th>
              <th scope="col" class="action">Action</th>
            </tr>
          </thead>
          <tbody id="table-tbody">

          </tbody>
        </table>
      </div>
      <div class="container-button">
        <a href="" class="btn btn-primary"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></a>
        <!-- add-list -->
        <div class="pagination">
        </div>

      </div>
    </div>
    <%- include('./partials/userFooter') %>