<%- include('./partials/header') %>
  <div class="container-list">
    <div class="h1-wrapper">
      <h1 class="h1-title">BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
    </div>
    <div class="search">
      <div class="show-data">
        <form class="input-group mb-1">
          <span class="input-group-text">Show</span>
          <select style="border-radius: 5px;" type="text" class="form-control"
            aria-label="Amount (to the nearest dollar)" onchange="" id="limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="0">all</option>
          </select>
          <span class="input-group-text">entries</span>
        </form>

      </div>
      <div class="search-input">
        <input class="input-search" type="text">
        <div class="button-search">
          <button type="button" class="btn btn-outline-secondary">><i class="fa-solid fa-magnifying-glass"
              style="color: #77767b;"></i></button>
          <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-rotate"
              style="color: #f6d32d;"></i></button>
        </div>
      </div>
    </div>
    <div class="container-form">
      <!-- ini table -->
      <div class="table-list">
        <table id="users-table" class="table table-striped">
          <thead>
            <tr>
              <th class="id">No.</th>
              <th class="title">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Name
                </div>
              </th>

              <th class="deadline">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Phone
                </div>
              </th>
              <th scope="col" class="action">Action</th>
            </tr>
          </thead>
          <tbody id="users-table-tbody">

          </tbody>
        </table>
      </div>
      <!-- ini buat add -->
      <div class="position-relative" style="padding: 20px; box-shadow: 0px 0px 5px rgb(167, 167, 167);">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addingData"><i class="fa-solid fa-plus"
            style="color: #ffffff;"></i></button>

        <div class="modal fade" id="addingData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="display: flex; justify-content: center;">
                <form class="form-container" id="form-user">
                  <div class="form-add">
                    <label for="name">Name</label>
                    <input class="input-add" type="text" id="name" required>
                  </div>
                  <div class="form-add">
                    <label for="phone">Phone</label>
                    <input class="input-add" type="text" id="phone" required>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ini add selesai -->

        <!-- ini untuk Delete -->
        <div class="modal fade" id="deleteData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Comfirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button id="btn-delete" type="submit" class="btn btn-primary">Yes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- delete selesai  -->

        <!-- ini untuk update -->
        <div class="modal fade" id="updateData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="display: flex; justify-content: center;">
                <form class="form-container" id="form-user">
                  <div class="form-add">
                    <label for="name">Name</label>
                    <input class="input-add" type="text" id="uname" required>
                  </div>
                  <div class="form-add">
                    <label for="phone">Phone</label>
                    <input class="input-add" type="text" id="uphone" required>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn-update" type="submit" class="btn btn-primary">Save changes</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- update selesai  -->

        <!-- pagination -->
        <div id="pagination" class="position-absolute top-50 end-0 translate-middle-y">

        </div>
      </div>
    </div>
    <%- include('./partials/userFooter') %>