<%- include('./partials/header') %>
  <div class="container-list">
    <div class="h1-wrapper">
      <h1 class="h1-title">BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
    </div>
    <div class="search">
      <div class="show-data">
        <form class="input-group mb-1">
          <span class="input-group-text">Show</span>
          <select style="border-radius: 5px;" type="text" class="form-control"
            aria-label="Amount (to the nearest dollar)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="0">all</option>
          </select>
          <span class="input-group-text">entries</span>
        </form>

      </div>
      <div class="search-input">
        <input class="input-search" type="text">
        <div class="button-search">
          <button type="button" class="btn btn-outline-secondary">><i class="fa-solid fa-magnifying-glass"
              style="color: #77767b;"></i></button>
          <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-rotate"
              style="color: #f6d32d;"></i></button>
        </div>
      </div>
    </div>
    <div class="container-form">
      <!-- ini table -->
      <div class="table-list">
        <table id="users-table" class="table table-striped">
          <thead>
            <tr>
              <th class="id">No.</th>
              <th class="title">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Name
                </div>
              </th>

              <th class="deadline">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Phone
                </div>
              </th>
              <th scope="col" class="action">Action</th>
            </tr>
          </thead>
          <tbody id="users-table-tbody">

          </tbody>
        </table>
      </div>
      <div class="position-relative" style="padding: 20px; box-shadow: 0px 0px 5px rgb(167, 167, 167);">
        <button class="btn btn-primary"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
        <!-- add-list -->
        <div id="pagination" class="position-absolute top-50 end-0 translate-middle-y">

        </div>
      </div>
    </div>
    <script>
      const readData = async () => {
        const response = await fetch("http://localhost:3000/api/users");
        const users = await response.json();
        let html = '';
        users.data.forEach((item, index) => {
          html += `
          <tr>
              <th scope="row">${index + 1}</th>
              <td scope="row">${item.name}</td>
              <td scope="row">${item.phone}</td>
              <td scope="row">
                <button type="button" class="btn btn-success">
                  <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                </button>&nbsp;
                <button type="button" class="btn btn-danger">
                  <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                </button>&nbsp;
                <button type="button" class="btn btn-warning">
                  <i class="fa-solid fa-right-to-bracket"></i>
                </button>&nbsp;
              </td>
          </tr>
          `
        })
        document.getElementById('users-table-tbody').innerHTML = html
      }
      readData()

      const addData = async () => {
        const name = document.getElementById('name').value
        const phone = document.getElementById('phone').value
        const response = await fetch("http://localhost:3000/api/users", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name, phone }),
        })
        const users = await response.json();
        readData()
      }
    </script>
    <%- include('./partials/userFooter') %>