<%- include('./partials/header') %>
  <div class="container-list">
    <div class="h1-wrapper">
      <h1 class="h1-title">BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
    </div>
    <div class="search">
      <div class="show-data">
        <form class="input-group mb-1">
          <span class="input-group-text">Show</span>
          <select style="border-radius: 5px;" type="text" class="form-control"
            aria-label="Amount (to the nearest dollar)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="0">all</option>
          </select>
          <span class="input-group-text">entries</span>
        </form>

      </div>
      <div class="search-input">
        <input class="input-search" type="text">
        <div class="button-search">
          <button type="button" class="btn btn-outline-secondary">><i class="fa-solid fa-magnifying-glass"
              style="color: #77767b;"></i></button>
          <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-rotate"
              style="color: #f6d32d;"></i></button>
        </div>
      </div>
    </div>
    <div class="container-form">
      <!-- ini table -->
      <div class="table-list">
        <table>
          <thead>
            <tr>
              <th class="id">No.</th>
              <th class="title">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Name
                </div>
              </th>

              <th class="deadline">
                <div class="sort-wrapper">
                  <div class="sort">
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-up"></i>
                    </a>
                    <a class="sort-button" href="">
                      <i class="fa-solid fa-caret-down"></i>
                    </a>
                  </div>
                  &nbsp;Phone
                </div>
              </th>
              <th scope="col" class="action">Action</th>
            </tr>
          </thead>
          <tbody id="table-tbody">

          </tbody>
        </table>
      </div>
      <div class="position-relative" style="padding: 20px; box-shadow: 0px 0px 5px rgb(167, 167, 167);">
        <button class="btn btn-primary"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
        <!-- add-list -->
        <div id="pagination" class="position-absolute top-50 end-0 translate-middle-y">

        </div>
      </div>
    </div>
    <%- include('./partials/userFooter') %>