<%- include('./partials/headerTodo') %>
    <div class="container-list">
        <div class="h1-wrapper">
            <h1>Todo List</h1>
        </div>
        <div class="container">
            <div class="search-wrapper">
                <div class="title-search">
                    <label for="title">Title</label>
                    <input class="input" type="text" placeholder="insert your title">
                </div>
                <div class="deadline-search">
                    <label for="deadline">Deadline</label>
                    <div class="str-end">
                        <input class="input" type="date">&nbsp;
                        <p>s.d.</p>&nbsp;
                        <input class="input" type="date">
                    </div>
                </div>
                <div class="complete-search">
                    <label for="complete">Complete</label>
                    <select class="input" style="background-color: #ffffff;" name="complete" id="complete-choose">
                        <option value="true">Done</option>
                        <option value="false">Not Yet</option>
                    </select>
                </div>
                <div class="btn btn-success" style="display: inline-flex;
                flex-direction: row;
                justify-content: baseline;
                width: 16%;">
                    <div class="sort-wrapper">
                        <div class="sort">
                            <a class="sort-button" href="">
                                <i class="fa-solid fa-caret-up"></i>
                            </a>
                            <a class="sort-button" href="">
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                        </div>
                    </div>&nbsp;
                    <p>sort by deadline </p>
                </div>
            </div>
            <div class="search-input-wrapper">

            </div>
            <div class="container-Todo">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script>
        const id = "<%= id %>"

    </script>
    <%- include('./partials/userFooter') %>