* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container-list {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.h1-wrapper {
  background-color: whitesmoke;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  text-align: center;
  padding: 10px;
}

.container-search {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.title-search {
  margin: 0px 0px 20px 0px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 75%;
  height: 35px;
  border-radius: 5px;
}

.deadline-search {
  margin: 0px 0px 20px 0px;
  width: 100%;
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-deadline {
  width: 75%;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.str-end {
  width: 75%;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.complete-search {
  margin: 0px 0px 20px 0px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.sort {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort-button {
  height: 7px;
  color: black;
}

.button-sort {
  width: 10px;
}

.title {
  display: inline-flex;
  flex-direction: row;
  justify-content: baseline;
}

.sort-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
}

.sort-search {
  margin: 0px 0px 20px 0px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.search-input-wrapper {
  background-color: white;
  margin: 20px 0px 20px 0px;
  display: inline-flex;
  height: 33px;
  width: 100%;
  justify-content: center;
}

.container-todo {
  background-color: #ffff;
  margin: 20px 0px 20px 0px;
  display: inline-flex;
  flex-direction: column;
  height: 33px;
  width: 100%;
  justify-content: center;
}

.input-search {
  width: 93%;
  border-radius: 5px;
}

.data-show {
  background-color: white;
  display: inline-flex;
  margin: 13px 0px 13px 0px;
  padding: 0px 10px 0px 10px;
  box-shadow: 5px 0px 5px rgb(167, 167, 167);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.form-add {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 10px 10px;
  width: 100%;
}

.input-complete-edit {
  width: 8%;
  height: 70%;
  display: inline-flex;
}

.ulabel-title {
  margin-right: 99px;
}

.ulabel-deadline {
  margin-right: 68px;
}

.ulabel-complete {
  margin-right: 63px;
}