<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB BREADS(Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <script src="/javascripts/alert.js"></script>
</head>
<body>
    
</body>
</html>